PORT=8080
CORS_ORIGIN=http://localhost:3000
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_DATABASE_URL=
FIREBASE_STORAGE_BUCKET=
AI_API_KEY=
AI_ASSISTANT_ID=
PUBLIC_HOST=http://localhost
