PORT=8080
CORS_ORIGIN=*
PUBLIC_HOST=http://localhost

# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_DATABASE_URL=
FIREBASE_STORAGE_BUCKET=

# OpenAI Chatbot
AI_API_KEY=
AI_ASSISTANT_ID=
